<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xl-3" *ngFor="let card of cards;">

      <socialignite-image-card image="card"></socialignite-image-card>


      <!--<div class="card card-image mb-3" [ngStyle]="{'background-image': 'url(\''+card +'\')'}">-->
        <!--&lt;!&ndash; Content &ndash;&gt;-->
        <!--<div class="text-white text-center d-flex align-items-center py-5 px-4">-->
          <!--<div>-->
            <!--<h5 class="pink-text"><i class="fas fa-chart-pie"></i> Used</h5>-->
            <!--<h3 class="card-title pt-2"><strong>This is card title</strong></h3>-->

          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Content &ndash;&gt;-->
      <!--</div>-->


    </div>
  </div>
</div>
