<div class="container h-100">
  <div class="row h-100">
    <div class="col-md-3">

    </div>
    <div class="col-md-6 align-self-center">
      <mdb-card class="align-middle align-self-center">

        <div class="flex-center">
          <div class="view overlay">
            <img [src]="'/assets/img/boxed/144/dark_logo_simple_cubed.png'" class="img-fluid" alt="Sample image with waves effect.">
            <a>
              <div class="mask waves-effect rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <socialignite-login-component></socialignite-login-component>
      </mdb-card>
    </div>
    <div class="col-md-3"></div>

  </div>
</div>





<!--qweqweqw-->
