<!DOCTYPE html>
<html style="width: 100%;height: 100%;">
<head>
  <title>Social Ignite - Social Media Management Assistant</title>
  <meta name="description"
        content="Your #1 tool for social media engagement analytics and management for businesses and online personalities.">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta property="og:url" content="https://socialignite.media">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Social Ignite - Social Media Engagement Tool">
  <meta property="og:description"
        content="Your #1 tool for social media engagement analytics and management for businesses and online personalities.">
  <meta property="og:image" content="/img/boxed/512/dark_logo_simple.png">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="https://socialignite.media">
  <meta name="twitter:title" content="Social Ignite - Social Media Engagement Tool">
  <meta name="twitter:description"
        content="Your #1 tool for social media engagement analytics and management for businesses and online personalities.">
  <!--<link href="/css/please-wait.css" rel="stylesheet">-->
  <meta name="twitter:image" content="/img/boxed/512/dark_logo_simple.png">
  <meta name="twitter:site" content="SocialIgniteApp">
  <meta name="mobile-web-app-capable" content="yes">


  <link rel="icon" type="image/png" href="/img/boxed/32/dark_logo_simple.png" sizes="32x32">
  <link rel="icon" sizes="192x192" href="/img/boxed/192/dark_logo_simple.png">
  <link rel="icon" sizes="128x128" href="/img/boxed/144/dark_logo_simple.png">


  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Social Ignite">
  <link rel="apple-touch-icon" href="/img/boxed/512/dark_logo_simple.png">
  <link rel="apple-touch-icon-precomposed" sizes="128x128" href="/img/boxed/144/dark_logo_simple.png">

  <!-- MS Application requirements -->
  <meta name="msapplication-TileImage" content="__ASSETS__/img/boxed/512/dark_logo_simple.png">
  <meta name="msapplication-TileColor" content="#2F3BA2">

  <meta name="theme-color" content="#3367D6">


  <link rel="canonical" href="/">
  <!--<link rel="manifest" href="/manifest.json">-->
  <base href="/">
</head>
<body style="width: 100%;height: 100%;">
<app-root style="width: 100%;height: 100%;"></app-root>
</body>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</html>
