<div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
  <div class="text-white text-center py-5 px-4 my-5">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Preparing your first social media post</strong></h2>
      <p class="mx-5 mb-5">
        Below you will prepare a simple post including content, optimizations, and scheduling.
      </p>
      <a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect>
        <mdb-icon fas icon="clone" class="left"></mdb-icon>Let's start!
      </a>
    </div>
  </div>
</div>
<!-- Vertical Steppers -->
<div class="row mt-1">
  <div class="col-md-12">

    <!-- Stepers Wrapper -->
    <ul class="stepper stepper-vertical">

      <!-- First Step -->
      <li>
        <a href="#!">
          <span class="circle">1</span>
          <span class="label">Choose pages</span>
        </a>
        <!-- Section Description -->
        <div class="step-content grey lighten-3">
          Here i choose the pages
        </div>
      </li>

      <!-- Second Step -->
      <li>

        <!--Section Title -->
        <a href="#!">
          <span class="circle">2</span>
          <span class="label">Content</span>
        </a>
        <!-- Section Description -->
        <div class="step-content grey lighten-3">
          Here i choose the content
        </div>
      </li>

      <!-- Third Step -->
      <li>
        <a href="#!">
          <span class="circle">3</span>
          <span class="label">Post</span>
        </a>
        <!-- Section Description -->
        <div class="step-content grey lighten-3">
          Here i schedule the content
        </div>
      </li>

    </ul>
    <!-- /.Stepers Wrapper -->

  </div>
</div>

<!-- Steppers Navigation -->
<div class="row mt-1">
  <div class="col-md-12 text-right">
    <button class="btn btn-flat btn-sm">Cancel</button>
    <button class="btn btn-primary btn-sm">Next</button>
  </div>
</div>
<!-- /.Vertical Steppers -->
