<div>
  <form name="form" (ngSubmit)="onSubmit()" [formGroup]="signupForm" novalidate>


    <p class="h4 mb-4 text-center">Ignite Your Social Media</p>

    <div class="p-3">
      <button type="button" (click)="registerFacebook()" mdbBtn block="true" mdbWavesEffect
              class="btn-rounded btn-primary ui-facebook p-3 btn-fb waves-light">
        <mdb-icon fab icon="facebook"></mdb-icon>
        <span class="p-3">Register through Facebook</span>
      </button>
    </div>


    <div class="md-form">
      <input formControlName="email" mdbInput type="email" class="form-control" id="email" required
             pattern="[^ @]*@[^ @]*">
      <label for="email">Email</label>
      <mdb-error *ngIf="signupForm.controls.email.dirty && signupForm.controls.email.invalid">Email must be a valid
        email address
      </mdb-error>
    </div>

    <div class="md-form">
      <input formControlName="password" mdbInput type="password" class="form-control" id="password" required>
      <label for="password">Password</label>
      <mdb-error *ngIf="signupForm.controls.password.dirty && signupForm.controls.password.invalid">Choose a longer
        password
      </mdb-error>
    </div>
    <div class="p-2">
      <div  class="btn-group d-flex" role="group" aria-label="Mode options">
        <label formControlName="mode" mdbBtn color="primary" class="flex-fill" mdbRadio="entrepreneur" mdbWavesEffect
               name="mode">
          Entrepreneur
        </label>
        <label  formControlName="mode" mdbBtn color="primary" class="flex-fill" mdbRadio="media_manager"
                mdbWavesEffect name="mode">
          Media Manager
        </label>
      </div>
    </div>

    <div class="p-2">
      <div class="md-form">
        <mdb-checkbox formControlName="mailing_list" [checked]="true" class="md-c" name="mailing_list" required
                      [default]="true">
          Yes, I want social media tips straight to my mailbox.
        </mdb-checkbox>
      </div>
      <div class="md-form">
        <mdb-checkbox formControlName="toc" [default]="true" name="toc" required>I agree to <a
          class="text-primary" href="https://socialignite.media/terms-and-conditions/">Terms & Conditions</a>
        </mdb-checkbox>
        <mdb-error *ngIf="signupForm.controls.toc.invalid">You must agree to not burn down our servers :(</mdb-error>
      </div>
    </div>

    <div class="btn-group btn-group-sm d-flex" role="group" aria-label="Login options">
      <button mdbBtn color="primary" block="true" [disabled]="signingUp" class="flex-fill" type="submit">
        <span *ngIf="signingUp">Signing up...</span>
        <span *ngIf="!signingUp">Sign up</span>
      </button>
      <button routerLink="/login" routerLinkActive="active" mdbBtn type="button" color="primary" outline="true"
              mdbWavesEffect>Login
      </button>
    </div>


  </form>
</div>
