<div>
  <form name="form" (ngSubmit)="loginForm.form.valid && onSubmit(loginForm)" #loginForm="ngForm" novalidate
        class="text-center p-5">


    <p class="h4 mb-4">Sign in</p>

    <div class="p-3">
      <button type="button" (click)="loginFacebook()" mdbWavesEffect
              class="btn btn-rounded btn-primary ui-facebook p-3 btn-fb waves-light">
        <mdb-icon fab icon="facebook"></mdb-icon>
        <span class="p-3">Login through Facebook</span>
      </button>
    </div>


    <!-- Email -->
    <!--<div class="md-form">-->
    <!--<input mdbInput name="input" type="email" id="form8" mdbValidate [(ngModel)]="user.email" #email="ngModel" required class="form-control" pattern="[^ @]*@[^ @]*">-->
    <!--<label for="form8">Required validator</label>-->
    <!--<mdb-error *ngIf="user.email.required">Email is required</mdb-error>-->
    <!--<mdb-error *ngIf="user.email.errors.email">Email must be a valid email address</mdb-error>-->
    <!--<mdb-success *ngIf="input.valid && (input.dirty || input.touched)">All good!</mdb-success>-->
    <!--</div>-->
    <div class="md-form">
      <input mdbInput mdbValidate name="email" type="email" id="email" class="form-control" [(ngModel)]="user.email"
             #email="ngModel" required pattern="[^ @]*@[^ @]*">
      <label for="email">Email</label>
      <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Email must be a valid email address</mdb-error>
    </div>

    <div class="md-form">
      <input mdbInput mdbValidate name="password" type="password" id="password" class="form-control"
             [(ngModel)]="user.password" #password="ngModel" required>
      <label for="password">Password</label>
    </div>

    <!--<div class="md-input-container md-block">-->
    <!--<label>Email Address</label>-->
    <!--<input class="md-input" >-->
    <!--<div *ngIf="loginForm.submitted && email.invalid" class="invalid-feedback">-->
    <!--<div *ngIf="email.errors.required">Email is required</div>-->
    <!--<div *ngIf="email.errors.email">Email must be a valid email address</div>-->
    <!--</div>-->
    <!--</div>-->
    <!-- Password -->
    <div class="d-flex justify-content-around">
      <div>
        <!-- Remember me -->
        <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
      </div>
      <div>
        <!-- Forgot password -->
        <a href="">Forgot password?</a>
      </div>
    </div>

    <!-- Sign in button -->

    <button mdbBtn color="primary" block="true"  [disabled]="loggingIn" class="my-12" type="submit">
      <span *ngIf="loggingIn">Signing in...</span>
      <span *ngIf="!loggingIn">Sign in</span>
    </button>

    <!-- Register -->
    <p>Not a member?
      <a routerLink="/register" routerLinkActive="active">Register</a>
    </p>
  </form>
</div>
