.ui-facebook {
  background: #3b5998 !important;
}

.ui-twitter {
  background-color: #1DA1F3 !important;
}

.ui-pinterest {
  background-color: #BD081C !important;
}

.ui-google-plus {
  background-color: #DC4A38 !important;
}

.ui-instagram {
  background-color: #1D1B1C !important;
}

.ui-linkedin {
  background-color: #007BB6 !important;
}

#toast-container > div {
  opacity:1;
}

.igx-navbar{
  background: transparent;
}
