<mdb-card>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Page</th>
      <th scope="col">Next Post</th>
      <th scope="col">Views</th>
      <th scope="col">Engagement</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th class="center-content" scope="row">

      </th>
      <td class="center-content">In 5 hours</td>
      <td class="center-content">

        <!--Mini graph goes here-->
      </td>
      <td class="center-content">

      </td>
      <td class="center-content">

        <!--<button size="sm" mdbBtn type="button" color="danger" outline="true" mdbWavesEffect>Unlink</button>-->

      </td>
    </tr>
    </tbody>
  </table>

</mdb-card>
